//output:index.html
doctype html
html(lang="en")
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name='author' content='Luis Gaytan')
  meta(name='description' content='Web Development Agency based in Los Angeles, CA. Website design, eCommerce websites, custom creations at and affordable price.')
  
  title TechieDodo | Adaptable Web Development
  
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7' crossorigin='anonymous')
  
  body.container-fluid
    header
      nav.navbar.navbar-default
        .container-fluid
          .navbar-header
            a.navbar-brand(href='#')
              img(alt='Techie Dodo Logo', src='')
    .main
      h3 This is the main div
    footer
      h4 This is the footer  

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
