//output:index.html
doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='author' content='Luis Gaytan')
    meta(name='description' content='Web Development Agency based in Los Angeles, CA. Website design, eCommerce websites, custom creations at and affordable price.')
    
    title TechieDodo | Adaptable Web Development
    
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous')
    link(rel='stylesheet' href='./styles/main.min.css')
    link(href='https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100|Josefin+Slab:300|Montserrat+Subrayada|Abril+Fatface|Anton' rel='stylesheet')
    
  body.container-fluid.zero
    header.hero-section
      nav.navbar.navbar-default
        .container-fluid#nav-section.wrapper-main
          .navbar-header
            a.navbar-brand(href='#')
              img(alt='Techie Dodo Logo', src='./assets/images/dodo-logo.png' id='logo')
            span TechieDodo
            button(type='button', class='navbar-toggle collapsed', data-toggle='collapse', data-target='#navbar-collapse' aria-expanded='false')
              span.icon-bar
              span.icon-bar
              span.icon-bar
          .collapse.navbar-collapse#navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li
                a(href='#') Home
              li
                a(href='#') About Us
              li
                a(href='#') Services
              li
                a(href='#') Contact Us
      row
        .homepage-hero-module
          .video-container
            .filter
            video.fillWidth(autoplay='', loop='' poster='./assets/video/Ideas.jpg')
              source(src='./assets/video/Ideas.mp4', type='video/mp4')
              | Your browser does not support the video tag. I suggest you upgrade your browser.
              source(src='./assets/video/Ideas.webm', type='video/webm')
              | Your browser does not support the video tag. I suggest you upgrade your browser.
            .poster.hidden
              img(src='./assets/video/Mock-up.jpg', alt='')
          .hero-text.row.wrapper-main
            .col-sm-8
              h1 
                | We Focus on Working with Small Businesses to Create & Build Digital Products.
                hr
                small Learn From The Dodo. Be Adaptable. We Can Show You How. Let's Talk.
    .main
      .wrapper-main
        .row
          .col-sm-offset-2.col-sm-8.text-center
            h2 Custom website design is just the beginning...
        .row
          .col-sm-6.text-center
            img(alt='MacBook Showing Website', src='./assets/images/macbook.png' class='img-responsive opacity' id='left-img')
            h3 Digital
            hr
            ul.zero
              li Branding & Logo Design
              li eCommerce Web Design
              li WordPress Web Design
          .col-sm-6.text-center
            img(alt='MacBook Showing Website', src='./assets/images/technical.png' class='img-responsive opacity' id='right-img')
            h3 Technical
            hr
            ul.zero
              li Web Maintenance & Hosting
              li Application Development
              li Search Engine Optimization
        //- hr.long-hr
        .row
          .col-sm-12.text-center.cta
            h3 
              | Your website shouldn't be an expense.
              br 
              | Let us turn it into a revenue-driving asset. 
            .btn.btn-primary Upgrade your site Today.
    .secondary
      .row.container-fluid
        .col-sm-6.secondary-left.row
          .col-xs-6
            img(alt='MacBook Showing Website', src='./assets/images/Responsive-Web.png' class='img-responsive')
          .col-xs-6.text-justify
            h4 Responsive Websites
            p#bigger Whether you need to blow away competition or require a stunning website design to inform people about what you do, we provide fully custom website design crafted for your audience and built around your needs.
            a(href='#' class='learn-more') Learn More
              span.glyphicon.glyphicon-download
        .col-sm-6.secondary-right.row
          .col-xs-6
            h4 Marketing Revamped
            p#smaller At TechieDodo, we can research your existing customer base or investigate new markets. Don't rest on your laurels; there are legions of potential clients just waiting to hear all about you.
            a(href='#') Learn More
              span.glyphicon.glyphicon-download
          .col-xs-6.text-justify
            img(alt='Marketing Lightbulb', src='./assets/images/Marketing.png' class='img-responsive')
    .about-us
      .row.container-fluid.wrapper-main.text-justify
        .col-sm-5
          img(alt='California Bear', src='./assets/images/cali-bear.png' class='img-responsive')
        .col-sm-7.opacity
          h3 TechieDodo &mdash; ABOUT US
            br
            small Cutting Edge Development from Sunny Southern California
          p 
            | Businesses that want to strengthen their brand and grow their profits come to us for modern website design and marketing services.
            br
            | Our talented team focuses on working with small businesses in almost every sector to create websites, e-commerce shops, brand identities and much more.
            br
          a(href='#') Read More...
            span.glyphicon.glyphicon-download
    .projects
      .wrapper-main.row
        h3 Recent Projects
    footer.hidden
      .wrapper-main
        .row.text-center
          .col-sm-4
            h6 Menu
            ul 
              li Home
              li About Us
              li Services
              li Contact Us
          .col-sm-4
            h6 Social
          .col-sm-4
             h6 Contact Us
        hr
        .row
          .col-sm-6
            | TechieDodo
          .col-sm-6.text-right 
            | Copyright &mdash 2017 
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
  script(src="./scripts/scripts.js")
